<!doctyle html>
<html ng-app="phonecatApp">
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-route.js"></script>
		<script src="controllers.js"></script>
	</head>
	<body ng-controller="PhoneListCtrl">
		<h1>Here's the HTML page for the angular tutorial</h1>
		
		<div class='container-fluid'>
			<div class='row'>
				<div class='col-md-2'>
					<!--sidebar content-->
					
					Search: <input ng-model='query'/>
					Sort by:
					<select ng-model='orderProp'>
						<option value='name'>Alphaetical</option>
						<option value='age'>Newest</option>
					</select>
				</div>
				
				<div class='col-md-10'>
					<!--body content-->
					
					<h3>
						<em>{{query}}</em><br>
						<em>{{orderProp}}</em>
					</h3>
					
					<ul class='phones'>
						<li ng-repeat="phone in phones | filter:query | orderBy:orderProp">
							<span>{{phone.name}}</span>
							<p>
								{{phone.snippet}}
							</p>
						</li>
					</ul>
					
				</div>
				
			</div>
		</div>
		
		<p>Nothing here {{'yet' + '!'}}</p>
		<p>
			Here's some math: 1 + 2 = {{1 + 2}}
		</p>
		
		<p>
			Total number of phones: {{phones.length}}
		</p>
	</body>
</html>